* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 77px 1fr 1fr 77px;
  grid-template-rows: min-content 1fr min-content;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    ". page page ."
    "footer footer footer footer";
  background-color: #181719;
}

body.no-scroll {
  overflow: hidden;
}

header {
  grid-area: header;
  color: #ffffff;
  padding: 42px 77px 0 77px;
  display: flex;
}

nav {
  display: inline-flex;
}

.title-container {
  flex: 1 1;
}

.title {
  margin: 0;
}

.menu {
  display: flex;
  list-style-type: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.menu-entry {
  padding-right: 86px;
  height: fit-content;
  cursor: pointer;
}

.menu-entry:last-child {
  padding-right: 0;
}

.menu-entry p {
  margin: 0;
}

.menu-entry.selected p {
  font-weight: bold;
  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 2px solid #ffffff;
}

.title {
  width: fit-content;
  padding: 8px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
}

.page {
  grid-area: page;
  display: flex;
  margin-top: 171px;
}

.page-description {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1;
  padding-right: 87px;
}

.description-header {
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  margin: 0;
}

.description-body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 48px 0;
}

.description-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}

.description-link .right-arrow {
  margin-left: 14px;
}

.description-link:visited {
  color: #ffffff;
}

.page-illustration {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.illustration-container {
  position: relative;
}

.illustration {
  max-width: 777px;
  width: 100%;
  height: auto;
}

.caption-box {
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 14px 34px 14px;
  min-width: 410px;
  width: fit-content;
  position: absolute;
  right: 32px;
  bottom: 0;
  transform: translateY(50%);
}

.caption-header {
  display: flex;
}

.name-and-job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 19px;
}

.name {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.job {
  margin: 8px 0 0 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.caption-body {
  font-family: "Lora";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  margin-top: 30px;
  max-width: 287px;
}

footer {
  grid-area: footer;
  color: #a9a9a9;
  padding-bottom: 24px;
  padding-top: 200px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

footer a:visited {
  color: #a9a9a9;
}

.material-icons {
  cursor: pointer;
}

.material-icons.hamburger {
  display: none;
}

.menu-overlay {
  display: none;
  background-color: #181719;
  color: #ffffff;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}

.menu-overlay.open {
  display: block;
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.menu-overlay-header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 10px;
}

.menu-overlay-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.menu-overlay-entry {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.menu-overlay-entry {
  margin: 0 0 32px 0;
}

.menu-overlay-entry:last-child {
  margin: 0;
}

.menu-overlay-entry p {
  margin: 0;
}

.menu-overlay-entry.selected p {
  font-weight: bold;
  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 2px solid #ffffff;
  margin: 0 auto;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1125px) {
  header {
    padding-left: 48px;
    padding-right: 48px;
  }

  body {
    grid-template-columns: 48px 1fr 1fr 48px;
  }

  .page {
    margin-top: 100px;
  }

  .description-header {
    font-size: 40px;
    line-height: 51px;
  }

  .description-body {
    font-size: 20px;
    line-height: 24px;
  }

  .description-link {
    font-size: 16px;
    line-height: 20px;
  }

  .caption-box {
    min-width: 0;
  }

  .caption-body {
    font-size: 22px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 936px) {
  header {
    padding: 19px 12px 0 12px;
  }

  body {
    grid-template-columns: 12px 1fr 1fr 12px;
  }

  .page {
    margin-top: 38px;
  }

  .material-icons.hamburger {
    display: inline-block;
    cursor: pointer;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav .menu {
    display: none;
  }

  .page {
    flex-direction: column;
  }

  .page-description {
    margin-bottom: 37px;
  }

  .illustration {
    max-width: unset;
  }

  .description-header {
    font-size: 36px;
    line-height: 46px;
  }

  .description-body {
    font-size: 14px;
    line-height: 17px;
    margin: 25px 0;
  }

  .description-link {
    font-size: 14px;
    line-height: 17px;
  }

  .caption-box {
    right: 11px;
  }

  .name {
    font-size: 12px;
    line-height: 14px;
  }

  .name {
    font-size: 10px;
    line-height: 12px;
  }

  .avatar {
    height: 36px;
    width: 36px;
  }

  .caption-body {
    font-size: 18px;
    line-height: 23px;
  }

  footer {
    padding-top: 120px;
  }
}
